<div class="container">
  <div class="row">
    <div class="col-lg-4 col-xl-5 col-md-7 col-sm-9 col-12 shadow border-rounded pt-3 mx-auto ">
      <h2>Log in</h2>

      <%= simple_form_for(@user_credentials, as: 'user', url: sessions_path) do |f| %>
        <div class="form-inputs">
          <%= f.input :email,
            required: true,
            label: 'Email',
            input_html: { autocomplete: 'Email' } %>

          <%= f.input :password,
            required: true,
            label: 'Password',
            input_html: { autocomplete: 'Password' } %>
        </div>

        <div class="form-actions d-inline-block">
          <%= f.button :submit, "Log in", class:"btn btn-info" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
